{% extends 'main\base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block contenttitle %}
{{ title }}
{% endblock %}

{% block content %}
{% if labels %}
    <div class="row">
    {% for el in labels %}
            <div class="alert alert-success">
                <p><strong>{{ el.order_number }}</strong>{{ el.supplier_id }}<span><a href="{{ el.link_to_pdf }}" >{{ el.link_to_pdf }}</a></span></p>
            </div>
    {% endfor %}
    </div>
{% else %}
    <div class="alert alert-success mt-1">
       <h3>Dvs. Nu aveti etichete</h3>
    </div>
 {% endif %}

{% endblock %}
